<div>
	<ul>
		<button {{action @paction @n1 @n2 @n3}}>{{@actionname}}</button>

	</ul>
	<h2>Results</h2>
		<ul>
			<li>{{@state.r1}}</li>
			<li>{{@state.r2}}</li>
			<li>{{@state.r3}}</li>
		</ul>
</div>